{% extends 'base.html.twig' %}

{% block title %}Hello Boss{% endblock %}

{% block body %}
    <h1>Liste des recettes</h1>
    <div>
        <label for="category-chooser">Filtrer par catégorie</label>
        <select name="category" id="category-chooser">
            <option value="no-filter"></option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
    <a class="add_button" href="{{ path('admin_recipe_add') }}">Ajouter</a>

    <table class="table_box">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Visible</th>
            <th>Image</th>
            <th>Categorie</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>{{ recipe.id }}</td>
                <td>{{ recipe.name }}</td>
                <td>{{ recipe.isActive == 1 ? 'Oui':'NON'}}</td>
                <td>
                    <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
                </td>
                <td>{{ recipe.category }}</td>

                <th class="edit_button">
                    <a href="{{ path('admin_recipe_edit', {id: recipe.id}) }}">Editer</a>
                </th>

                <th class="delete_button">
                    <a href="{{ path('admin_recipe_delete', {id: recipe.id}) }}">Supprimer</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('adminCategoryFilter') }}
{% endblock %}
