<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome boss!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
    {% endblock %}

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <div class="adminboard">
        <div class="title">
            <h1>Bienvenue dans la zone admin</h1>
        </div>
        <div class="content">
            <div class="sidebar-left">
                <h2>Menu</h2>
                <ul>
                    <li><a href="{{ path('admin_users_list') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('admin_categories_List') }}">Categories</a></li>
                    <li><a href="{{ path('admin_plats_list') }}">Plats</a></li>
                    <li><a href="{{ path('admin_ingredients_list') }}">Ingredients</a></li>
                </ul>
            </div>
            <div class="content2">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('admin') }}
    {% endblock %}
</body>
</html>

