{% extends 'base.html.twig' %}

{% block title %}Hello Boss{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Role</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.name }}</td>
                    <th></th>
                    <th>
                        <a href="{{ path('admin_user_edit', {id: user.id}) }}">Editer</a>
                    </th>

                    <th>
                        <a href="{{ path('admin_user_delete', {id: user.id}) }}">Supprimer</a>
                    </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
